<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.sahithi.automation.listeners.TCActivityListenerAdapter"></listener>
</listeners>
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.sahithi.automation.appln.businessscripts.FpTest"/>
      <class name="com.sahithi.automation.appln.businessscripts.FbTest"/>
      <class name="com.sahithi.automation.appln.businessscripts.GmailTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
